<div th:fragment="home">
	<h2 align="center">Selamat Datang Di Sistem Koperasi Dian Mandiri</h2>
	<a>&nbsp</a>
	<div class="row">
		<div class="col-12" align="center">		
			<h3>
				<b>VISI</b>
			</h3>
		</div>		
	</div>
	<div class="row justify-content-end">
		<div class="col-12" align="center">
			<h4>Metranformasi Kehidupan Melalui Pengembangan Usaha Mikro</h4>
		</div>		
	</div>
	&nbsp
	<div class="row">
		<div class="col-12" align="center">		
			<h3>
				<b>MISI</b>
			</h3>
		</div>		
	</div>
	<div class="row justify-content-end">
		<div class="col-12" align="center">
			<h4>1. Memberdayakan Masyarakat melalui MED</h4><br>
			<h4>2. Memberitakan Kerajaan Allah Melalui CMED</h4><br>
			<h4>3. DIMAN Sebagai Asset Masyarakat</h4><br>
			<h4>4. Memberdayakan Staff</h4><br>
		</div>		
	</div>	
</div>