<div th:fragment="home">
	<h2 align="center">Selamat Datang Di Sistem Koperasi Dian Mandiri</h2>
	<a>&nbsp</a>
	<div class="row">
		<div class="col-12" align="center">		
			<h3>
				<b>VISI</b>
			</h3>
		</div>		
	</div>
	<div class="row justify-content-end">
		<div class="col-12" align="center">
			<h4>Metranformasi Kehidupan Melalui Pengembangan Usaha Mikro</h4>
		</div>
		
	</div>
	&nbsp
	<div class="row">
		<div class="col-6 col-md-4"></div>
		<div class="col-6 col-md-4" align="Center">
			<h3>
				<b>MISI</b>
			</h3>
		</div>
		<div class="col-6 col-md-4"></div>
	</div>
	<h4>
		<div class="row justify-content-end">
			<div class="col-6">1. Memberdayakan Masyarakat melalui MED</div>
			<div class="col-2"></div>
		</div>
		<div class="row justify-content-end">
			<div class="col-6">2. Memberitakan Kerajaan Allah Melalui CMED</div>
			<div class="col-2"></div>
		</div>
		<div class="row justify-content-end">
			<div class="col-6">3. DIMAN Sebagai Asset Masyarakat</div>
			<div class="col-2"></div>
		</div>
		<div class="row justify-content-end">
			<div class="col-6">4. Memberdayakan Staff</div>
			<div class="col-2"></div>
		</div>
	</h4>
</div>