<div th:fragment="navleft">
	<nav class="navbar-default navbar-side sidebar" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">
				<li class="text-center"><img th:src="@{/img/logo.png}"
					class="user-image img-responsive" /></li>
				<li><a href="/cabang"><i class="fa fa-home fa-3x "></i>
						Cabang</a></li>
				<li><a href="/kelompok"><i class="fa fa-clipboard fa-3x "></i>
						Kelompok</a></li>
				<li><a href="/po"><i class="fa fa-briefcase fa-3x "></i>
						Program Officer</a></li>
				<li><a href="/client"><i class="fa fa-tags fa-3x "></i>
						Client</a></li>
				<li><a href="#"><i class="fa fa-table fa-3x"></i>Kegiatan
						Program Officer<span class="fa arrow"></span></a>
					<ul class="nav nav-second-level">
						<!-- /. Cabang  -->
						<li><a href="#">Orientasi <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="cabang">History</a></li>
							</ul></li>
						<!-- /. Kelompok  -->
						<li><a href="#">Evaluasi <span class="fa arrow"></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<!-- /. Po  -->
						<li><a href="#">Realisasi<span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<!-- /. Client -->
						<li><a href="#">Angsuran <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Tabungan<span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Jaminan <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Kewajiban<span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Tunggakan <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Pinjaman <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Pengembalian <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
						<li><a href="#">Penagihan <span class="fa arrow"></span></a>
							<ul class="nav nav-third-level">
								<li><a href="#">History</a></li>
							</ul></li>
					</ul></li>
			</ul>
		</div>
	</nav>
</div>
