<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="frag/header :: header"></div>
<body>
	<div class="wrapper">
		<!-- Sidebar-->
		<div th:replace="frag/navleft :: navleft"></div>
		<div id="content">
			<div th:replace="frag/topnav :: navtop"></div>
			<div id="page-wrapper">
				<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							<h2 th:text="${h2}" align="center"></h2>
						</div>

					</div>
					<!-- /. ROW  -->
					<hr />
					<div class="alert alert-success" th:if="${succesmessage}">
						<a href="#" class="close" data-dismiss="alert" arial-label="close">&times;</a>
						<strong th:text="${succesmessage}"></strong>
					</div>
					<a class="btn btn-outline-primary" href="/kelompokpo/create">Tambah Data</a>
					<hr />
					<div class="row">
						<div class="col-md-12">
							<!-- KELOMPOK -->
							<div class="panel panel-default">								
								<div class="panel-body">
									<div class="table-responsive">
										<table class="table table-striped table-bordered table-hover"
											id="dataTables-example">
											<thead>
												<tr>
													<th>Nama Kelompok</th>
													<th>Nama Po</th>
													<th>Isactive</th>
													<th>Start Date</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="showkelompok: ${post}">
													<td th:text="${showkelompok.namaKelompok}"></td>
													<td th:text="${showkelompok.namaPo}"></td>
													<td th:text="${showkelompok.isactive}"></td>
													<td th:text="${showkelompok.startdt}"></td>
													<td align="center"><a
														th:href="@{'getKelompokPo/'+${showkelompok.idKelompok}}"><i
															class="fa fa-edit" style="font-size: 21px;"
															onclick="return true"></i></a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!--End Advanced Tables -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="frag/footer :: footer"></div>
</body>
</html>